doctype html
html
    head
        title = title
        link(rel = 'stylesheet', href = '/stylesheets/sytle.css')
    body
        h1 #{title}
        p Node.js Progaramming for Modern Web Development
        hr